---
layout: default
image: /images/fulls/01.jpg
---
<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <section>
    <h2><a href="{{ post.url | prepend: site.github.url }}">{{ post.title }}</a></h2>
    <p>
      <span><i class="fa fa-calendar"></i> {{ post.date | date: "%d %B %Y" }}{% if post.categories %} on <i class="fa fa-tags"></i> {{ post.categories | join: ', ' }}{% endif %}</span>
    </p>
    <div>
      {{ post.excerpt }}
    </div>
  </section>
{% endfor %}

<section>
  <h2>Bike parks</h2>
  <div class="row">
    {% for bp in site.bikeparks %}
      <article class="6u 12u$(xsmall) work-item">
				<a href="{{ bp.permalink }}" class="image fit thumb"><img src="{{ site.github.url }}/images/bp/caldirola-bikepark.jpg" alt="" /></a>
        <h3>{{ bp.name }} - {{ bp.location }}</h3>
				<p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
			</article>
    {% endfor %}
  </div>
</section>

<section id="two">
  <h2>Recent Work</h2>
  <div class="row">
    <article class="col-6 col-12-xsmall work-item">
      <a href="images/fulls/01.jpg" class="image fit thumb"><img src="images/thumbs/01.jpg" alt="" /></a>
      <h3>Magna sed consequat tempus</h3>
      <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
    </article>
    <article class="col-6 col-12-xsmall work-item">
      <a href="images/fulls/02.jpg" class="image fit thumb"><img src="images/thumbs/02.jpg" alt="" /></a>
      <h3>Ultricies lacinia interdum</h3>
      <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
    </article>
    <article class="col-6 col-12-xsmall work-item">
      <a href="images/fulls/03.jpg" class="image fit thumb"><img src="images/thumbs/03.jpg" alt="" /></a>
      <h3>Tortor metus commodo</h3>
      <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
    </article>
    <article class="col-6 col-12-xsmall work-item">
      <a href="images/fulls/04.jpg" class="image fit thumb"><img src="images/thumbs/04.jpg" alt="" /></a>
      <h3>Quam neque phasellus</h3>
      <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
    </article>
    <article class="col-6 col-12-xsmall work-item">
      <a href="images/fulls/05.jpg" class="image fit thumb"><img src="images/thumbs/05.jpg" alt="" /></a>
      <h3>Nunc enim commodo aliquet</h3>
      <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
    </article>
    <article class="col-6 col-12-xsmall work-item">
      <a href="images/fulls/06.jpg" class="image fit thumb"><img src="images/thumbs/06.jpg" alt="" /></a>
      <h3>Risus ornare lacinia</h3>
      <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
    </article>
  </div>
  <ul class="actions">
    <li><a href="#" class="button">Full Portfolio</a></li>
  </ul>
</section>


{% if paginator.total_pages > 1 %}
<!-- Pagination links -->
<section>
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}">Previous</a>
  {% endif %}
  <span>Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}">Next</a>
  {% endif %}
</section>
{% endif %}
